/*
INFO/CS 1300
Fall 2016
Kevin Li
Assignment 03
*/


html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #ffffff;
    font-family: Ovo, serif;
    font-size: 0.9em;
}

#banner {
    background-color: #36D16D;
    color: #ffffff;
    width: 100%;
}

#banner > h1 {
    /* border: solid 1px white; */
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#nav_bar {
    border-bottom: solid 2px #36C9D1;
    font-family: 'Open Sans', sans-serif;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    max-width: 960px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#container {
    width: 100%;
}

#content {
    font-family: 'Open Sans', sans-serif;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
}

#content > img {
    display: block;
    margin: auto;
}

#content > p {
    text-align: center
}
